#Navbar{
  width:100%;
  background-color: rgb(77, 122, 122);
  text-align: center; 
  padding:8px;
}

#nav{
  color: aliceblue;

}
.flex-container {
  display: flex;
justify-content: space-between;
  /* background-color: DodgerBlue; */
  padding-top:20px ;
}


#dash{
  width:25%;
  /* padding-top: 40%; */

}
#dash h2{

  padding-top: 15%;
margin: 0;
}
#dashinner, #trends{
  background-color: rgb(77, 122, 122);
  text-align: center;
  font-size: 20px;
  color: aliceblue;
  margin-bottom: 10px;
  height:150px ;
}
#feed{
  width:40%;
  background-color: rgb(77, 122, 122);
  /* margin-bottom: 20px; */
  text-align: center;
  color:aliceblue
}
#feed h2{
  padding-top: 20%;
}
#follow{
  width:25%;
  background-color: rgb(77, 122, 122);
  margin-bottom: 20px;
  text-align: center;
  color:aliceblue;
  height:150px;
}
#follow h2{
  padding-top: 15%;
}